[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-pastie"]
	path = bundle/vim-pastie
	url = http://github.com/tpope/vim-pastie.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = http://github.com/godlygeek/csapprox.git
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = http://github.com/gregsexton/gitv.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = http://github.com/mattn/gist-vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = http://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/webapi-vim.git"]
	path = bundle/webapi-vim.git
	url = http://github.com/mattn/webapi-vim.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = http://github.com/Raimondi/delimitMate.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = http://github.com/majutsushi/tagbar.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/simpledb"]
	path = bundle/simpledb
	url = https://github.com/ivalkeen/vim-simpledb
[submodule "bundle/vim-signature"]
	path = bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = http://github.com/airblade/vim-gitgutter.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "bundle/recover"]
	path = bundle/recover
	url = https://github.com/chrisbra/Recover.vim
[submodule "bundle/vim-airline"]
    path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-airlineish"]
    path = bundle/vim-airlineish
	url = https://github.com/paranoida/vim-airlineish.gitsubmodule "bundle/vim-airlineish"]
[submodule "bundle/emmet-vim"]
    path = bundle/emmet-vim
    url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/phpcomplete.vim"]
    path = bundle/phpcomplete.vim
    url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule "bundle/YouCompleteMe"]
    path = bundle/YouCompleteMe
    url = https://github.com/Valloric/YouCompleteMe.git
